@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial';
    --font-poppins: 'Poppins', 'Inter', sans-serif;
  }

  body {
    @apply bg-gradient-to-b from-bgMain to-[#07070a] text-[#e6eef6] antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
